#alert-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

#submit-button{
    height: 44px;
    margin-top: 1rem;
}

p{
    text-align: center;
}


.email, .name, .number, .calendar { 
flex: 1; 
width: 100%;
max-width: 350px;
min-width: 250px;
}